h1,h2,h3,h4,h5,h6 : {color: olive; font-family: Helvetica}
p : {color: blue}
body :{ font-family:Helvetica}
tr:nth-child(even) {background: grey; color: white}
tr:nth-child(odd) {background: #FFF}
table, th, td {border: 1px solid black;}